/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-property-value-allowed-list */
/* stylelint-disable declaration-no-important */
/* stylelint-disable scale-unlimited/declaration-strict-value */
/* stylelint-disable property-disallowed-list */
.Draftail--font-size-control-row > * {
  flex: 0 1 min-content;
  margin-inline-end: 0;
}

.Draftail--font-size-control-row {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: min-content;
}

.Draftail--font-size-decrement,
.Draftail--font-size-increment {
  min-width: min-content;
  padding-inline: 0.25rem;
}

.Draftail--font-size-decrement > span,
.Draftail--font-size-increment > span {
  margin-top: -0.25rem;
}

.Draftail--font-size-input-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input.Draftail--font-size-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
  height: 1.875rem;
  font-size: 1rem;
  min-width: 5rem;
  padding-inline: 0.25rem;
}

input.Draftail--font-size-input::placeholder {
  font-size: 0.75rem;
  text-align: center;
  top: -0.09375rem;
  position: relative;
}
