/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-property-value-allowed-list */
/* stylelint-disable declaration-no-important */
/* stylelint-disable scale-unlimited/declaration-strict-value */
/* stylelint-disable property-disallowed-list */
.Draftail--text-alignment-option {
  z-index: 10;
}

.Draftail-block--ALIGNMENT_LEFT {
  text-align: start;
}

.Draftail-block--ALIGNMENT_CENTER {
  text-align: center;
}

.Draftail-block--ALIGNMENT_RIGHT {
  text-align: end;
}

.Draftail-block--ALIGNMENT_JUSTIFY {
  text-align: justify;
}

.Draftail-block--ALIGNMENT_LEFT > *,
.Draftail-block--ALIGNMENT_CENTER > *,
.Draftail-block--ALIGNMENT_RIGHT > *,
.Draftail-block--ALIGNMENT_JUSTIFY > * {
  text-align: inherit;
}
